# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# SQLite
*.db
*.db-journal
*.sqlite3

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Pytest & Logs
.pytest_cache/
*.log
docker-compose.override.yml
